*.log
*.bak
.sass-cache
source/wp-config.php
source/wp-content/advanced-cache.php
source/wp-content/backup-db/
source/wp-content/backups/
source/wp-content/blogs.dir/
source/wp-content/cache/
source/wp-content/upgrade/
source/wp-content/uploads/
source/wp-content/wp-cache-config.php
source/wp-content/plugins/hello.php
node_modules

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db